@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300;400;500&family=Poppins:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');
/*font-family: 'Noto Sans KR', sans-serif;
font-family: 'Poppins', sans-serif; */

*{ font-family:  'Poppins', 'Noto Sans KR', sans-serif;}

.TodoTemplate {
  width: 512px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 6rem;
  border-radius: 4px;
  overflow: hidden;
  position: relative;
  padding-bottom: 50px;
  box-shadow: 2px 2px 10px #ccc;
}

.TodoTemplate .date_area {
  font-size: 1.3rem;
  line-height: 1;
  font-weight: 300;
  color: #fff;
}

.TodoTemplate .date_area .left_col {
  color: #82ffc1;
  font-size: 2rem;
  font-family: 'Poppins', sans-serif;
  font-weight: 700;
  font-style: italic;
}

.TodoTemplate>.app-title {
  background: #2d7249;
  height: 150px;
  font-size: 2.3rem;
  display: flex;
  gap: 20px;
  align-items: center;
  justify-content: space-around;
  overflow: hidden;
}

.TodoTemplate>.app-title>p {
  color: #feffcd;
  font-weight: 800;
}

.TodoTemplate>.content {
  background: white;
}

.TodoTemplate .imwidth {
  padding-left: 30px;
}

.TodoTemplate .footer {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 50px;
  text-align: center;
  background-color: #2d7249;
  line-height: 50px;
  color: #fff;
}